# distributions created with distutils
/dist/
/CompoundPye.egg-info/


# Contents not ready for publication yet
/CompoundPye/_workspace/
/CompoundPye/_TuningScripts/
/CompoundPye/_tests_for_debugging/
/CompoundPye/_tests_of_circuits/
/CompoundPye/_PlotScripts/
/CompoundPye/src/Examples/
/CompoundPye/_old/

*~
*.pyc
*.tar
*.gz