# distributions created with distutils
/dist/
/CompoundPye.egg-info/


# Contents not ready for publication yet
/_workspace/
/CompoundPye/Examples/*.avi
/CompoundPye/Examples/tunnel/
/CompoundPye/Examples/circ_files/
/CompoundPye/Examples/*.csv

*~
*.pyc
*.tar
*.gz